@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	color: #333;
	background-image: url('./../img/bg-1.avif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	line-height: 1.6;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 1rem;
}

.main-title {
	text-align: center;
	font-size: 4rem;
	padding: 2rem;
	font-family: "Galada", serif;
	color: $primary-color;
}