@import 'variables';
@import 'mixins';

.recipe-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 1rem;

	.recipe-page__header {
		font-size: $font-size-title;
		color: $primary-color;
		margin-bottom: 1rem;
	}

	.recipe-page__title {
		.recipe-page__title-label {
			font-weight: bold;
			display: block;
			margin-top: 1rem;
		}

		.recipe-page__title-input {
			width: 100%;
			padding: 0.5rem;
			margin-top: 0.5rem;
			margin-bottom: 1rem;
			border: 1px solid #ccc;
			border-radius: 4px;
		}
	}

	.ingredients-list {
		list-style: none;
		padding: 0;

		.ingredients-list__title {

		}

		.ingredients-list__list {
			.ingredients-list__list-item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 0.5rem 0;

				.ingredients-list__list-button {
					@include button-style($secondary-color);
				}
			}
		}
	}

	.add-ingredient-form {
		.add-ingredient-form__input {

		}

		.add-ingredient-form__button {
			@include button-style($primary-color);
		}
	}

	.is-vegan {
		.is-vegan__label {

		}

		.is-vegan__button {

		}
	}

	.cooking-steps {
		.cooking-steps__header {

		}

		.cooking-steps__item {
			border: 1px solid #ddd;
			padding: 1rem;
			margin-bottom: 1rem;
			border-radius: 5px;
	
			.cooking-steps__item-number {
				color: $primary-color;
			}

			.cooking-steps__item-description {

			}
	
			.cooking-steps__item-img {
				max-width: 100px;
				margin-top: 0.5rem;
			}

			.cooking-steps__button_edit,
			.cooking-steps__button_delete {
				@include button-style($primary-color);
			}
		}

		.cooking-steps__none {

		}
	}

	.add-and-edit-step-form {
		@include flex-center;
		flex-direction: column;
		.add-and-edit-step-form__title {

		}

		.add-and-edit-step-form__text {

		}

		.add-and-edit-step-form__load-file {
			@include button-style($primary-color);
		}

		.delete-image-form {
			.delete-image-form__img {

			}

			.delete-image-form__button {
				@include button-style($secondary-color);
			}
		}

		.add-and-edit-step-form__button {
			@include button-style($primary-color);
		}
	}

	.favorite-recipe {
		.favorite-recipe__title {

		}
	}

	.back-to-main {
		.back-to-main__button {
			@include button-style($primary-color);
		}
	}
}